@import "basefiles/base";

body {
    // background: url('../img/homepage_legend_concept_02.png') no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    // -o-background-size: cover;
}

#site_wrapper_3{
	// position: relative;
	// /*display:table;*/
	// background: url('../img/layer_3.png') no-repeat center center fixed;
 //    -webkit-background-size: cover;
 //    -moz-background-size: cover;
 //    background-size: cover;
 //    -o-background-size: cover;
	// height:16200px;
}
#site_wrapper_2{
// 	position: relative;
// 	overflow: visible;
// #bg1{	
// 	position: absolute;
// 	overflow: visible;
// 	width:100%;
// 	height:7000px;
// 	/*display:table;*/
// 	background: url('../img/test1.svg') no-repeat center center fixed;
// 	left: -75px;
// 	top: 300px;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     -o-background-size: cover;
// 	height:16200px;
// }
}

$half-hero-width: 50px;
#gamezone{
	background: url("../img/homepage_minimalist_03.png") no-repeat;
	//background-size: 100% 100%;
	border: 1px solid #003CFF;
	overflow: hidden;
	height: 17760px;
	h3{
		font-size: 24px;
		font-weight: 900;
	}
}
#hero{
	border: 1px solid #003CFF;
	display: block;
	width: 280px;
	height: 280px;
	//background: #F00;
	position: fixed;
	z-index: 20;
	left: 40%;
	}

.tracer{border: 1px dashed #F00;}
	
#customactions{
	position: fixed;
	z-index: 80;
	display: block;
	width: 170px;
	height: 60px;
	border: 1px solid #0F0;
	background: #F00;
	/*margin: auto;*/
	float: right;
	padding-top: 10px;
	text-align: left;
	top: 10px;
}
#bgmain{
	//height: 16590px;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 1px solid #0F0;
	position: relative;
	}

#hero_still{
	display: block;
	width: 50px;
	height: 50px;
	background: #609;
	position: relative;
	z-index: 20;
	left: 50%;
	top: 15700px;
	}

$co-blue: #356086;
$co-red: #b11d28;	



.navbar-toggle{
	background-color: #252525;
}
nav{
	background-color: $co-red;	
	a{color: #fff;}
}
.navbar-header{
}
.icon-bar{background-color: #fff;}

.box1.outline, .box2.outline, .box3.outline {
	border: 1px solid white;
}

.section-title{
	background-color: $co-red;
	padding-top: 10px;
	padding-bottom: 10px;
	h3{color: #fff;}
}

.section-pad{
	padding-top: 45px;
	padding-bottom: 95px;
}

.box1 {
	min-width: 50px;
	width: 280px;
	height: 280px;
	margin: 0 auto 0 auto;
	bottom:90px;
	border: 1px solid #F00 !important; 
}
.frame0{
	height: 250px;
	background: url(../img/dive_00.png) no-repeat;
}	
.frame1{
	width: 280px;
	height: 280px;
	border: 1px solid #F00 !important; 
	background: url(../img/dive_01.png) no-repeat;
}
.frame2{
	width: 280px;
	height: 280px;
	border: 1px solid #F00 !important;
	background: url(../img/dive_02.png) no-repeat;
}

.frame2up{
	width: 280px;
	height: 280px;
	border: 1px solid #F00 !important;
	background: url(../img/dive_02.png) no-repeat;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}	
.frame3{
	width: 280px;
	height: 280px;
	border: 1px solid #F00 !important;
	background: url(../img/dive_03.png) no-repeat;
}

.csspring_spacer10{
	height:10px;
}

.csspring_spacer10, .csspring_spacer5{
	display:block;
	width:100%;
	margin:0%;
    padding:0%;
    clear: both;
    position: relative;
    overflow: visible;
}
.csspring_spacer1000{
	height:1000px;
}

.csspring_spacer5{
	height:500px;
}
#prefooter {
	color: #fff;
	background-color:$co-blue;
	padding-top:30px;
	padding-bottom:40px;
	ul, h4{
	padding-left:10px;
	li, h4{padding:10px 0px}
	}
}

.footer {
  color: #fff;	
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $co-blue;
}

.container .text-muted {
  margin: 10px 0;
  color: #fff;
}


.icon-bar{color:#000;}

.dropdown{

	  @include screen(768px, 1360px) {
	    dropdown:hover .dropdown-menu {
   			 display: block;
    		 margin-top: 0; // remove the gap so it doesn't close
		}
	  }
	  @include screen(481px, 767px) {
	   
	  }
	  @include screen(320px, 480px) {
	   
	  }

}
.nav{font-size:14px;}

.animatebox1{
	position: absolute;
	background-color: #cecece;
	width: 100%;                      
	height:900px;
	left:1700px;
	z-index: 40;
}                                                                      

#scrollto-map{
	display: block;
	background-color: #ff0;
	position: fixed;
	z-index: 999;
	width: 20px;
	right: 0px;
	bottom: 35%;
	span{
		cursor: pointer;
		display: block;
		border: 1px solid #f00;
	}
}


#section-0{
	height: 250px;
}
#section-2{
	height: 1950px;
}
#section-3{
	height: 2950px;
}
#section-4{
	height: 2950px;
}
#section-5{
	height: 950px;
}
#section-6{
	height: 3950px;
}
#section-7{
	height: 1950px;
}
#section-8{
	height: 1900px;
}





















