/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*grids*/
/* line 4, ../sass/grids.scss */
.container, .container-tbl, .wrapper-tbl, .wrapper {
  margin: 0%;
  padding: 0%;
  clear: both;
  width: 100%;
  position: relative;
  overflow: visible;
}

/* line 13, ../sass/grids.scss */
.container-tbl, .wrapper-tbl {
  display: table;
}

/* line 18, ../sass/grids.scss */
.grid {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 50px 0px 50px;
}
@media screen and (min-width: 1301px) and (max-width: 1360px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    width: 1200px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    width: 1100px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    max-width: 1020px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    max-width: 960px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    width: 100%;
    max-width: 860px;
  }
}
@media screen and (min-width: 800px) and (max-width: 959px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    max-width: 760px;
  }
}
@media screen and (min-width: 320px) and (max-width: 799px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  /* line 18, ../sass/grids.scss */
  .grid {
    width: 100%;
    max-width: 420px;
  }
}
