/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 42, ../sass/site.scss */
#gamezone {
  background: url("../img/homepage_minimalist_03.png") no-repeat;
  border: 1px solid #003CFF;
  overflow: hidden;
  height: 17990px;
}
/* line 48, ../sass/site.scss */
#gamezone h3 {
  font-size: 24px;
  font-weight: 900;
}

/* line 53, ../sass/site.scss */
#hero {
  border: 1px solid #003CFF;
  display: block;
  width: 280px;
  height: 280px;
  position: fixed;
  z-index: 20;
  left: 40%;
}

/* line 64, ../sass/site.scss */
.tracer {
  border: 1px dashed #F00;
}

/* line 66, ../sass/site.scss */
#customactions {
  position: fixed;
  z-index: 80;
  display: block;
  width: 170px;
  height: 60px;
  border: 1px solid #0F0;
  background: #F00;
  /*margin: auto;*/
  float: right;
  padding-top: 10px;
  text-align: left;
  top: 10px;
}

/* line 80, ../sass/site.scss */
#bgmain {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #0F0;
  position: relative;
}

/* line 90, ../sass/site.scss */
#hero_still {
  display: block;
  width: 50px;
  height: 50px;
  background: #609;
  position: relative;
  z-index: 20;
  left: 50%;
  top: 15700px;
}

/* line 106, ../sass/site.scss */
.navbar-toggle {
  background-color: #252525;
}

/* line 109, ../sass/site.scss */
nav {
  background-color: #b11d28;
}
/* line 111, ../sass/site.scss */
nav a {
  color: #fff;
}

/* line 115, ../sass/site.scss */
.icon-bar {
  background-color: #fff;
}

/* line 117, ../sass/site.scss */
.box1.outline, .box2.outline, .box3.outline {
  border: 1px solid white;
}

/* line 121, ../sass/site.scss */
.section-title {
  background-color: #b11d28;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 125, ../sass/site.scss */
.section-title h3 {
  color: #fff;
}

/* line 128, ../sass/site.scss */
.section-pad {
  padding-top: 45px;
  padding-bottom: 95px;
}

/* line 133, ../sass/site.scss */
.box1 {
  min-width: 50px;
  width: 280px;
  height: 280px;
  margin: 0 auto 0 auto;
  bottom: 90px;
  border: 1px solid #F00 !important;
}

/* line 141, ../sass/site.scss */
.frame0 {
  height: 250px;
  background: url(../img/dive_00.png) no-repeat;
}

/* line 145, ../sass/site.scss */
.frame1 {
  width: 280px;
  height: 280px;
  border: 1px solid #F00 !important;
  background: url(../img/dive_01.png) no-repeat;
}

/* line 151, ../sass/site.scss */
.frame2 {
  width: 280px;
  height: 280px;
  border: 1px solid #F00 !important;
  background: url(../img/dive_02.png) no-repeat;
}

/* line 158, ../sass/site.scss */
.frame2up {
  width: 280px;
  height: 280px;
  border: 1px solid #F00 !important;
  background: url(../img/dive_02.png) no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 169, ../sass/site.scss */
.frame3 {
  width: 280px;
  height: 280px;
  border: 1px solid #F00 !important;
  background: url(../img/dive_03.png) no-repeat;
}

/* line 176, ../sass/site.scss */
.csspring_spacer10 {
  height: 10px;
}

/* line 180, ../sass/site.scss */
.csspring_spacer10, .csspring_spacer5 {
  display: block;
  width: 100%;
  margin: 0%;
  padding: 0%;
  clear: both;
  position: relative;
  overflow: visible;
}

/* line 189, ../sass/site.scss */
.csspring_spacer1000 {
  height: 1000px;
}

/* line 193, ../sass/site.scss */
.csspring_spacer5 {
  height: 500px;
}

/* line 196, ../sass/site.scss */
#prefooter {
  color: #fff;
  background-color: #356086;
  padding-top: 30px;
  padding-bottom: 40px;
}
/* line 201, ../sass/site.scss */
#prefooter ul, #prefooter h4 {
  padding-left: 10px;
}
/* line 203, ../sass/site.scss */
#prefooter ul li, #prefooter ul h4, #prefooter h4 li, #prefooter h4 h4 {
  padding: 10px 0px;
}

/* line 207, ../sass/site.scss */
.footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #356086;
}

/* line 217, ../sass/site.scss */
.container .text-muted {
  margin: 10px 0;
  color: #fff;
}

/* line 223, ../sass/site.scss */
.icon-bar {
  color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1360px) {
  /* line 228, ../sass/site.scss */
  .dropdown dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

/* line 241, ../sass/site.scss */
.nav {
  font-size: 14px;
}

/* line 243, ../sass/site.scss */
.animatebox1 {
  position: absolute;
  background-color: #cecece;
  width: 100%;
  height: 900px;
  left: 1700px;
  z-index: 40;
}

/* line 252, ../sass/site.scss */
#scrollto-map {
  display: block;
  background-color: #ff0;
  position: fixed;
  z-index: 999;
  width: 20px;
  right: 0px;
  bottom: 35%;
}
/* line 260, ../sass/site.scss */
#scrollto-map span {
  cursor: pointer;
  display: block;
  border: 1px solid #f00;
}

/* line 268, ../sass/site.scss */
#section-0 {
  height: 250px;
}

/* line 271, ../sass/site.scss */
#section-2 {
  height: 1950px;
}

/* line 274, ../sass/site.scss */
#section-3 {
  height: 2950px;
}

/* line 277, ../sass/site.scss */
#section-4 {
  height: 2950px;
}

/* line 280, ../sass/site.scss */
#section-5 {
  height: 950px;
}

/* line 283, ../sass/site.scss */
#section-6 {
  height: 3950px;
}

/* line 286, ../sass/site.scss */
#section-7 {
  height: 1950px;
}

/* line 289, ../sass/site.scss */
#section-8 {
  height: 1950px;
}
